.contacts_wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 200px;
    justify-items: center;
    margin-bottom: 200px;
}

.contacts_items {
    display: grid;
    grid-template-columns: 300px;
    row-gap: 50px;
}

.contacts_item_name {
    font-weight: 700;
}

.contacts_item {
    padding: 32px 32px;
    background: #edecff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

.contacts_form_mail {
    width: 300px;
}

.contacts_form_wrapper {
    position: relative;
    margin-bottom: 30px;
    height: 100px;
}

.contacts_form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: #edecff;
    border-radius: 20px;
    padding: 18px;
    z-index: 1;
    outline: none;
}

.contacts_form-tag {
    position: absolute;
    top: -16px;
    left: 30px;
    padding: 10px;
    z-index: 10;
    font-size: 12px;
    background: #edecff;
    border-radius: 50%;
    cursor: default;
}

.contacts_form-area {
    height: 150px;
}

.contacts_form-area textarea {
    resize: none;
}

.textarea:hover {
    color: brown;
}

.button_contacts {
    background: #edecff;
    color: white;
    border-radius: 20px;
    padding: 8px 16px;
    transition: 0.3s;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 99;
    top: 130px;
}

.button_contacts:hover {
    color: black;
    background: #d2d0ff;
    transform: scale(1.1) translateY(-5px);
}

@media screen and (max-width: 992px) {
    .contacts_wrapper {
        grid-template-columns: 1fr;
    }
    .contacts_items {
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 576px) {
  
}

@media screen and (max-width: 400px) {
  
}